<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Component -</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <!-- 마크업 시작 -->
    <div>
      <h2>Just Dropped</h2>
      <p>발매 상품</p>
    </div>
    <ul>
      <li>
        <a href="#">
          <!-- 썸네일 영역 시작 -->
          <div>
            <picture>
              <source srcset="/src/assets/images/products/product-img-01.avif 1x, /src/assets/images/products/product-img-01@2x.avif 2x" type="image/avif" />
              <source srcset="/src/assets/images/products/product-img-01.webp 1x, /src/assets/images/products/product-img-01@2x.webp 2x" type="image/webp" />
              <img src="/src/assets/images/products/product-img-01.png" srcset="/src/assets/images/products/product-img-01.png 1x, /src/assets/images/products/product-img-01@2x.png 2x" alt="" />
            </picture>
            <button type="button">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6162_1662)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="#303033" />
                </g>
                <defs>
                  <clipPath id="clip0_6162_1662">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <!-- 썸네일 영역 종료 -->
          <!-- 상품 정보 영역 시작 -->
          <div>
            <h3>Problemallways</h3>
            <p>Problemallways Logo Denim Pocket Camp Cap Blue</p>
            <div>
              <span>적립</span>
              <span>
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.66663H5.54167L3.5 8.08329H6.41667L4.375 13.3333H5.25L9.91667 6.91663H7.29167L9.625 1.66663Z" fill="#58DC76" />
                </svg>
                빠른배송
              </span>
            </div>
            <div>
              <strong>10%</strong>
              <span>76,500원</span>
              <small>즉시 구매가</small>
            </div>
          </div>
          <!-- 상품 정보 영역 종료 -->
        </a>
      </li>
      <li>
        <a href="#">
          <!-- 썸네일 영역 시작 -->
          <div>
            <picture>
              <source srcset="/src/assets/images/products/product-img-01.avif 1x, /src/assets/images/products/product-img-01@2x.avif 2x" type="image/avif" />
              <source srcset="/src/assets/images/products/product-img-01.webp 1x, /src/assets/images/products/product-img-01@2x.webp 2x" type="image/webp" />
              <img src="/src/assets/images/products/product-img-01.png" srcset="/src/assets/images/products/product-img-01.png 1x, /src/assets/images/products/product-img-01@2x.png 2x" alt="" />
            </picture>
            <button type="button">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6162_1662)">
                  <path d="M17 3H7C5.9 3 5.01 3.9 5.01 5L5 21L12 18L19 21V5C19 3.9 18.1 3 17 3ZM17 18L12 15.82L7 18V5H17V18Z" fill="#303033" />
                </g>
                <defs>
                  <clipPath id="clip0_6162_1662">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <!-- 썸네일 영역 종료 -->
          <!-- 상품 정보 영역 시작 -->
          <div>
            <h3>Problemallways</h3>
            <p>Problemallways Logo Denim Pocket Camp Cap Blue</p>
            <div>
              <span>적립</span>
              <span>
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.625 1.66663H5.54167L3.5 8.08329H6.41667L4.375 13.3333H5.25L9.91667 6.91663H7.29167L9.625 1.66663Z" fill="#58DC76" />
                </svg>
                빠른배송
              </span>
            </div>
            <div>
              <strong>10%</strong>
              <span>76,500원</span>
              <small>즉시 구매가</small>
            </div>
          </div>
          <!-- 상품 정보 영역 종료 -->
        </a>
      </li>
    </ul>
  </body>
</html>
